#addTask-wrapper{
    position: relative;
}

#addTask-wrapper input{
    margin: 20px 0;
    min-width: 300px;
    position: relative;
    background-color: white;
    padding: 15px 80px 15px 15px;
    border-radius: 10px;
    border: none;
    box-shadow: var(--boxShadow);
}

#addTask-wrapper button{
    position: absolute;
    top: 20px;
    right: -2px;
    border-radius: 10px;
    padding: 12px 20px;
    background-color: var(--slategrey);

}