#addTask-wrapper{
    position: relative;
}

#addTask-wrapper input{
    min-width: 300px;
    background-color: white;
    padding: 15px;
    border-radius: 10px 0 0 10px;
    border: none;
    box-shadow: var(--boxShadow);
}

#addTask-wrapper button{
    border-radius: 0 10px 10px 0;
    padding: 12px 20px;
    background-color: var(--slategrey);
    color: white;

}