*{
    margin: 0;
    padding: 0;
}
:root{
    --background: linear-gradient(#678B92, white);
    --lightGrey: #E3E3E3;
    --slategrey: #4F656D;
    --lightBlue: #A8BBC2;
    --mediumBlue: #70919d;
    --darkBlue: #415f69;
    --charcoal: #151515;
    --boxShadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

h1{
    text-shadow: var(--boxShadow);
    margin-bottom: 40px;
}