


.taskItem{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--lightGrey);
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.taskItem .icon{
    color: var(--darkBlue);
    font-size: 20px;
}

.taskItem .icon:hover{
    cursor: pointer;
    color: var(--blue);
    font-size: 20px;
}

.taskItem .icon:active{
    cursor: pointer;
    color: var(--darkBlue);
    font-size: 20px;
}


.taskItem input[type=text]{
  width: 100%;
  background-color: var(--lightGrey);
  color: var(--darkBlue);
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
  border: none;
  overflow: scroll;
}

.taskItem input[type=text].done{
  text-decoration: line-through;
  font-weight: bold;
}
.taskItem input[type=text].active{
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.25);
}

.taskItem input[type=checkbox]{
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For older Firefox */
    appearance: none;
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 3px;
    /* margin-right: 5px; */
    box-shadow: 0 2px 4px 0 inset rgba(0,0,0,0.25); 
    background-color: white;
  }

  .taskItem input[type="checkbox"]:hover {
    background-color: var(--lightBlue);
  }

  /* Checked state */
  .taskItem input[type="checkbox"]:checked {
    background-color: white;
  }
  
  .taskItem input[type="checkbox"]:checked:hover {
    background-color: var(--lightBlue);
  }

  .taskItem  input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 0px;
    width: 10px;
    height: 30px;
    border: solid var(--darkBlue);
    border-width: 0 5px 5px 0;
    transform: rotate(35deg);
  }

  .taskItem.done{
    opacity: 0.4;
  }

  .task-item-error{
    width: 100%;
    position: absolute;
    text-align: center;
    top: 40px;
    left: 0px;
    z-index: 10;
    color: var(--errorRed);
    font-weight: bold;
    padding: 5px;
    background-color: var(--lightGrey);
  }